footer {
    background-color: $textColor;
    color: $secondary;
    .footerInfo {
        @include flexBox(flex, center);
        padding: 80px 50px;
        @media (max-width: 1000px) {
            padding: 0;
        }
        @media (max-width: 960px) {
            display: flex;
            flex-direction: column;
        }
        div {
            padding: 40px;
            @media (max-width: 960px) {
                padding: 20px;
            }
            &:first-of-type h3 {
                text-align: left;
                @media (max-width: 960px) {
                    text-align: center;
                }
            }
            h3 {
                padding-bottom: 30px;
                @media (max-width: 960px) {
                    padding-bottom: 10px;
                }
            }
        }
        .socialIcons {
            padding: 20px 0 0 0;
            ul {
                @include flexBox(flex, space-between);
                width: 30%;
                @media (max-width: 960px) {
                    width: 15%;
                    margin: 0 auto;
                }
            }
        }
        .posts li {
            list-style-type: disc;
        }
        li {
            @include myFont(0.7rem, 0.3px, 400);
            line-height: 24px;
            font-family: $bodyFont;
            @media (max-width: 960px) {
                text-align: center;
            }
        }
        form {
            position: relative;
            @media (max-width: 960px) {
                text-align: center;
            }
            @media (max-width: 460px) {
                text-align: left;
            }
            input[placeholder="Enter your email"] {
                font-family: $bodyFont;
                font-size: 0.7rem;
                padding: 10px 12px;
                margin-top: 30px;
                margin-left: 20px;
                border: transparent;
                @media (max-width: 960px) {
                    margin: 5px 0 0 0;
                }
            }
            input[type="email"] {
                &:hover,
                &:active,
                &:focus {
                    outline: none;
                }
                @media (max-width: 460px) {
                    width: 90%
                }
            }
            label[for="email"] {
                font-family: $bodyFont;
                font-size: 0.7rem;
                display: block;
                @media (max-width: 460px) {
                    text-align: center;
                }
            }
            button {
                border: transparent;
                padding: 10px 12px 10px 12px;
                background: $primary;
                position: absolute;
                bottom: 0;
                @media (max-width: 460px) {
                    width: 10%
                }
            }
        }
    }
    p {
        border-top: 1px solid rgb(246, 246, 246, 0.2);
        padding: 50px;
        font-family: $mainFont;
        letter-spacing: 5px;
    }
}