header {
    @media (max-width: 970px) {
        width: 100%;
        padding: 0;
    }
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 860px) {
        padding: 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li {
            position: relative;
            padding: 20px;
            @media (max-width: 1080px) {
                padding: 10px;
            }
            @media (max-width: 970px) {
                display: none;
            }
            a {
                text-decoration: none;
                position: relative;
                &:hover {
                    font-weight: 700;
                }
            }
            i {
                font-size: 1rem;
            }
            .fa-shopping-bag::after {
                content: "2";
                background: $primary;
                border-radius: 50%;
                position: absolute;
                font-family: $bodyFont;
                font-weight: 400;
                font-size: 0.5rem;
                top: 50%;
                left: 50%;
                padding: 4px 5px;
            }
        }
    }
    .leftNav {
        li:first-of-type {
            a {
                text-decoration: line-through;
            }
        }
    }
}

h1 {
    padding: 30px;
    width: calc(100% /3);
    @media (max-width: 1080px) {
        padding: 50px 0;
    }
    @media (max-width: 970px) {
        width: 100%;
    }
}

nav {
    .fa-bars,
    .fa-times {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.8rem;
        z-index: 10;
        @media (min-width: 970px) {
            display: none;
            top: 10px;
        }
    }
    .dropDown {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        li {
            display: none;
            @media (max-width: 970px) {
                display: block;
                padding-right: 50px;
                background-color: rgb(246, 246, 246, 0.9);
            }
        }
        li:first-of-type {
            @media (max-width: 970px) {
                margin-top: 50px;
            }
        }
    }
    .hideMenu {
        display: none;
    }
}