.headerNav {
    width: 100%;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            position: relative;
            padding: 20px;
            a {
                text-decoration: none;
                i {
                    font-size: 1rem;
                }
                span {
                    text-decoration: line-through;
                }
                .fa-shopping-bag::after {
                    content: "2";
                    background: $primary;
                    border-radius: 50%;
                    position: absolute;
                    font-family: $bodyFont;
                    font-weight: 400;
                    font-size: 0.5rem;
                    top: 50%;
                    left: 50%;
                    padding: 4px 5px;
                }
            }
        }
    }
    h1 {
        padding: 30px;
        width: calc(100% /3);
    }
    nav {
        width: calc(100% / 3);
    }
}