@import "variables";
@import "mixin";
html {
    @include myFont(125%, 0.3px, 400);
    font-family: $mainFont;
    color: $textColor;
}

h1 {
    @include myFont(1.85rem, 0.9px, 700);
    text-align: center;
}

a {
    @include myFont(0.7rem, 0.3px, 400);
    color: $textColor;
}

p,
input[placeholder],
textarea[placeholder] {
    @include myFont(0.7rem, 0.3px, 400);
    text-align: center;
    line-height: 24px;
    font-family: $bodyFont;
}

input[placeholder],
textarea[placeholder] {
    text-align: left;
}

h3 {
    @include myFont(0.7rem, 0.3px, 400);
    text-align: center;
    line-height: 24px;
}

button {
    @include myFont(0.7rem, 0.7px, 700);
    text-align: center;
    line-height: 24px;
}

// general
body {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

header {
    padding-left: 150px;
    padding-right: 150px;
}