@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";
@import "partials/nav";
@import "partials/footer";
// header
header {
    background-image: url("./../assets/blog-1.jpeg");
    background-size: cover;
    height: 65vh;
}

// sections general
.wrapper {
    padding-bottom: 50px;
    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(51, 51, 51, 0.2);
    }
}

// first section
.blogContainer {
    .blogTitle {
        margin-top: 70px;
        h1,
        p {
            text-align: left;
            padding: 10px 0;
        }
    }
    .blogInfoContainer {
        @include flexBox(flex,
        flex-start);
        padding: 30px 0;
        border-bottom: 1px solid rgb(51, 51, 51, 0.2);
        margin: 50px 0;
        .author {
            @include flexBox(flex,
            flex-start);
            width: 50%;
            align-items: center;
            img {
                border-radius: 50%;
                padding-right: 20px;
            }
        }
        .blogInfo {
            @include flexBox(flex,
            space-between);
            width: 50%;
            align-items: center;
        }
        h3,
        p {
            text-align: left;
        }
    }
    .blogWriting {
        p {
            text-align: left;
            padding: 10px 0;
            &:first-of-type {
                font-weight: bold;
            }
        }
        .socials {
            @include flexBox(flex,
            flex-start);
            align-items: center;
            i {
                padding: 10px;
                font-size: 0.8rem;
            }
        }
    }
}

// second section
.relatedPostsContainer {
    ul {
        @include flexBox(flex,
        space-between);
        padding: 50px 0;
        p {
            text-align: left;
            padding-top: 20px;
        }
    }
}

// third section
.commentsContainer {
    .eachComment {
        padding-top: 50px;
        @include flexBox(flex,
        flex-start);
        position: relative;
        .imageContainer {
            padding: 0 50px 50px 0;
            width: 10%;
        }
        .textComment {
            background: $secondary;
            padding: 20px;
            width: 90%;
            h3,
            p {
                text-align: left;
                padding: 3px;
            }
            &:after {
                content: "";
                position: absolute;
                border-top: 8px solid transparent;
                border-left: 20px solid transparent;
                border-right: 20px solid $secondary;
                border-bottom: 8px solid transparent;
                left: 80px;
                bottom: 95px;
            }
        }
    }
}

// fourth section
.contactContainer {
    margin-bottom: 120px;
    input[type="text"],
    input[type="email"],
    textarea {
        border: transparent;
        border-bottom: 1px solid rgb(51, 51, 51, 0.2);
    }
    input[type="text"],
    input[type="email"] {
        width: calc(100% / 3 - 18px);
        padding: 10px 10px 10px 0;
        margin-top: 50px;
        &:hover,
        &:active,
        &:focus {
            outline: none;
            border-bottom: 1px solid $textColor;
        }
    }
    input[type="email"] {
        margin: 0 20px;
    }
    textarea {
        display: block;
        width: 100%;
        margin: 40px 0 50px 0;
        &:hover,
        &:active,
        &:focus {
            outline: none;
            border-bottom: 1px solid $textColor;
        }
    }
    button {
        border: transparent;
        background: transparent;
        padding-bottom: 5px;
        font-family: $mainFont;
        font-weight: 400;
        border-bottom: 1px solid $textColor;
    }
}