@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";
@import "partials/nav";
@import "partials/footer";
@import "partials/mixin";
// header
header {
    padding: 0;
    .headerContainer {
        position: relative;
        .headerNav {
            padding: 0 150px;
        }
        h2 {
            @include position(absolute, 180px, 0);
            @include myFont(2rem, 0.9, 700);
            font-family: $mainFont;
            padding-left: 170px;
            line-height: 1.15;
            span {
                border-top: 2px solid $textColor;
                padding-top: 5px;
            }
        }
    }
}

// first section
.contactContainer {
    padding: 100px 170px;
    h3 {
        font-weight: 700;
        padding-bottom: 20px;
    }
    h3,
    p {
        text-align: left;
    }
    .contactInfo {
        @include flexBox(flex, space-between);
        padding: 100px 0;
        div {
            padding: 40px;
            i {
                font-size: 1.7rem;
                padding-bottom: 20px;
            }
        }
        .address {
            border-left: 1px solid rgb(51, 51, 51, 0.2);
            border-right: 1px solid rgb(51, 51, 51, 0.2);
        }
    }
}