// imports
@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";
@import "partials/nav";
@import "partials/footer";
@import "partials/mixin";
// header
header {
    padding-left: 150px;
    padding-right: 150px;
    background-image: url("./../assets/home-1.jpeg");
    background-size: cover;
    height: 90vh;
}

// first section - branding
.branding {
    background: $primary;
    .brand {
        position: relative;
        padding: 200px 0 150px 0;
        .brandingImages {
            display: flex;
            justify-content: center;
        }
        .brandingImages img:first-of-type {
            position: absolute;
            top: 15%;
            left: 21%;
        }
        .brandingText {
            display: flex;
            padding: 50px 150px 0 150px;
            div {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}