// imports
@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";
@import "partials/nav";
@import "partials/footer";
@import "partials/mixin";
// header
header {
    background-image: url("./../assets/home-1.jpeg");
    background-size: cover;
    height: 80vh;
}

h3 {
    font-family: $mainFont;
}

// first section - branding
.branding {
    background: $primary;
    .brand {
        position: relative;
        padding: 200px 0 150px 0;
        .brandingImages {
            @include flexBox(flex,
            center);
        }
        .brandingImages img:first-of-type {
            @include position(absolute,
            15%,
            21%);
        }
        .brandingText {
            display: flex;
            padding: 50px 150px 0 150px;
            div {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}

// second section
.imageScrollContainer {
    @include flexBox(flex,
    center);
    padding: 100px;
    align-items: center;
    .imageAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        img {
            border-radius: 50%;
            padding: 30px;
            width: 70%;
            margin: 0 auto;
        }
        p {
            font-style: italic;
        }
    }
    .fa-chevron-right {
        color: grey;
    }
}

// third section
.shop {
    background-image: url("./../assets/home-4.jpeg");
    background-size: cover;
    height: 90vh;
    .shopContainer {
        display: flex;
        padding: 80px 50px 20px 500px;
        li {
            @include flexBox(flex,
            flex-start);
            padding: 10px;
            i {
                border: solid 1px $textColor;
                border-radius: 50%;
                padding: 10px;
                margin: 15px;
                font-size: 1rem;
            }
            .fa-map-pin {
                padding: 10px 13.13px;
            }
            h3,
            p {
                text-align: left;
                padding-bottom: 5px;
            }
        }
    }
}

// fourth section
.teamContainer {
    padding: 0 100px 150px 100px;
    &::before {
        content: "";
        width: 50%;
        height: 50px;
        border-right: solid 1px $textColor;
        display: block;
    }
    h2 {
        padding: 50px;
        text-align: center;
    }
    ul {
        @include flexBox(flex,
        center);
        flex-wrap: wrap;
        li {
            padding: 10px;
            width: calc((100% / 4) - 20px);
            &:last-of-type {
                @include flexBox(flex,
                center);
                align-items: center;
                padding: 40px;
            }
            &:first-of-type {
                padding: 20px;
                width: calc((100% / 2) - 40px);
                background: $secondary;
                h3,
                p {
                    text-align: left;
                    padding: 10px;
                }
                h3 {
                    padding-top: 50px;
                }
            }
        }
    }
}

// fifth section
.portfolioContainer {
    @include flexBox(flex,
    center);
    div {
        width: calc(100% / 2);
        background-color: $primary;
        &:first-of-type {
            @include flexBox(flex,
            center);
            flex-direction: column;
            padding: 80px;
            align-items: center;
            p {
                padding: 40px;
            }
            button {
                padding: 10px 20px;
                border: transparent;
                font-family: $mainFont;
            }
        }
    }
}