// imports
@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";
@import "partials/nav";
@import "partials/footer";
@import "partials/mixin";
// header
header {
    background-image: url("./../assets/home-1.jpeg");
    background-size: cover;
    height: 70vh;
    @media (max-width: 1080px) {
        height: 60vh;
    }
    @media (max-width: 610px) {
        height: 50vh;
    }
}

h3 {
    font-family: $mainFont;
}

// first section - branding
.branding {
    background: $primary;
    .brand {
        position: relative;
        padding: 200px 0 150px 0;
        .brandingImages {
            @include flexBox(flex,
            center);
        }
        .brandingImages img:first-of-type {
            @include position(absolute,
            15%,
            21%);
            @media (max-width: 600px) {
                width: 30%;
            }
        }
        .brandingText {
            display: flex;
            padding: 50px 150px 0 150px;
            div {
                padding-right: 20px;
                padding-left: 20px;
                @media (max-width: 680px) {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                }
            }
            @media (max-width: 680px) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

// second section
.imageScrollContainer {
    @include flexBox(flex,
    center);
    padding: 100px;
    align-items: center;
    @media (max-width: 600px) {
        padding: 20px;
    }
    .imageAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        @media (max-width: 600px) {
            padding: 10px;
        }
        img {
            border-radius: 50%;
            padding: 30px;
            width: 70%;
            margin: 0 auto;
        }
        p {
            font-style: italic;
        }
    }
    .fa-chevron-right {
        color: grey;
    }
}

// third section
.shop {
    background-image: url("./../assets/home-4.jpeg");
    background-size: cover;
    height: 80vh;
    .shopContainer {
        display: flex;
        padding: 80px 50px 20px 500px;
        @media (max-width: 1000px) {
            padding: 50px;
            background-color: rgb(246, 246, 246, 0.6);
        }
        li {
            @include flexBox(flex,
            flex-start);
            padding: 10px;
            i {
                border: solid 1px $textColor;
                border-radius: 50%;
                padding: 10px;
                margin: 15px;
                font-size: 1rem;
            }
            .fa-map-pin {
                padding: 10px 13.13px;
            }
            h3,
            p {
                text-align: left;
                padding-bottom: 5px;
                @media (max-width: 1000px) {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

// fourth section
.teamContainer {
    padding: 0 100px 150px 100px;
    &::before {
        content: "";
        width: 50%;
        height: 55px;
        border-right: solid 1px rgb(51, 51, 51, 0.2);
        display: block;
    }
    h2 {
        padding: 50px;
        text-align: center;
    }
    ul {
        @include flexBox(flex,
        center);
        flex-wrap: wrap;
        li {
            padding: 10px;
            width: calc((100% / 4) - 20px);
            @media (max-width: 960px) {
                width: calc((100% / 2) - 20px);
            }
            &:last-of-type {
                @include flexBox(flex,
                center);
                align-items: center;
                padding: 40px;
            }
            &:first-of-type {
                padding: 10px 10px 0 10px;
                margin: 10px;
                width: calc((100% / 2) - 60px);
                background: $secondary;
                @media (max-width: 960px) {
                    width: calc(100% - 80px);
                    background: transparent;
                }
                h3,
                p {
                    text-align: left;
                    padding-bottom: 10px;
                    @media (max-width: 1080px) {
                        padding: 0;
                        font-size: 0.6rem;
                    }
                }
                h3 {
                    padding-top: 40px;
                    @media (max-width: 1080px) {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

// fifth section
.portfolioContainer {
    @include flexBox(flex,
    center);
    div {
        width: calc(100% / 2);
        background-color: $primary;
        @media (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        &:first-of-type {
            @include flexBox(flex,
            center);
            flex-direction: column;
            padding: 80px;
            align-items: center;
            @media (max-width: 970px) {
                padding: 10px;
            }
            p {
                padding: 40px;
                @media (max-width: 680px) {
                    padding: 10px;
                }
            }
            button {
                padding: 10px 20px;
                border: transparent;
                font-family: $mainFont;
            }
        }
    }
}