html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

h1 {
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-align: center;
}

a {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #333;
}

p,
input[placeholder],
textarea[placeholder] {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

input[placeholder],
textarea[placeholder] {
  text-align: left;
}

h3 {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

button {
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
}

body {
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
}

header {
  padding-left: 150px;
  padding-right: 150px;
}

@media (max-width: 970px) {
  header {
    width: 100%;
    padding: 0;
  }
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 860px) {
  .headerNav {
    padding: 0;
  }
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerNav ul li {
  position: relative;
  padding: 20px;
}
@media (max-width: 1080px) {
  .headerNav ul li {
    padding: 10px;
  }
}
@media (max-width: 970px) {
  .headerNav ul li {
    display: none;
  }
}
.headerNav ul li a {
  text-decoration: none;
  position: relative;
}
.headerNav ul li a:hover {
  font-weight: 700;
}
.headerNav ul li i {
  font-size: 1rem;
}
.headerNav ul li .fa-shopping-bag::after {
  content: "2";
  background: #C3DAB7;
  border-radius: 50%;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  top: 50%;
  left: 50%;
  padding: 4px 5px;
}
.headerNav .leftNav li:first-of-type a {
  text-decoration: line-through;
}

h1 {
  padding: 30px;
  width: calc(100% /3);
}
@media (max-width: 1080px) {
  h1 {
    padding: 50px 0;
  }
}
@media (max-width: 970px) {
  h1 {
    width: 100%;
  }
}

nav .fa-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
}
@media (min-width: 970px) {
  nav .fa-bars {
    display: none;
    top: 10px;
  }
}

footer {
  background-color: #333;
  color: #F6F6F6;
}
footer .footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 50px;
}
@media (max-width: 1000px) {
  footer .footerInfo {
    padding: 0;
  }
}
@media (max-width: 960px) {
  footer .footerInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footerInfo .posts li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #F6F6F6;
  display: inline-block;
  margin: 3px 5px 3px 3px;
}
footer .footerInfo div {
  padding: 40px;
}
@media (max-width: 960px) {
  footer .footerInfo div {
    padding: 30px 20px;
  }
}
footer .footerInfo div:first-of-type h3 {
  text-align: left;
}
@media (max-width: 960px) {
  footer .footerInfo div:first-of-type h3 {
    text-align: center;
  }
}
footer .footerInfo div h3 {
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  footer .footerInfo div h3 {
    padding-bottom: 10px;
  }
}
footer .footerInfo .socialIcons {
  padding: 20px 0 0 0;
}
footer .footerInfo .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
@media (max-width: 960px) {
  footer .footerInfo .socialIcons ul {
    width: 25%;
    margin: 0 auto;
  }
}
footer .footerInfo li {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 960px) {
  footer .footerInfo li {
    text-align: center;
  }
}
footer .footerInfo form {
  position: relative;
}
@media (max-width: 960px) {
  footer .footerInfo form {
    text-align: center;
  }
}
@media (max-width: 460px) {
  footer .footerInfo form {
    text-align: left;
  }
}
footer .footerInfo form input[placeholder="Enter your email"] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  padding: 10px 12px;
  margin-top: 30px;
  margin-left: 20px;
  border: transparent;
}
@media (max-width: 960px) {
  footer .footerInfo form input[placeholder="Enter your email"] {
    margin: 5px 0 0 0;
  }
}
footer .footerInfo form input[type=email]:hover, footer .footerInfo form input[type=email]:active, footer .footerInfo form input[type=email]:focus {
  outline: none;
}
@media (max-width: 460px) {
  footer .footerInfo form input[type=email] {
    width: 90%;
  }
}
footer .footerInfo form label[for=email] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  display: block;
}
@media (max-width: 460px) {
  footer .footerInfo form label[for=email] {
    text-align: center;
  }
}
footer .footerInfo form button {
  border: transparent;
  padding: 10px 12px 10px 12px;
  background: #C3DAB7;
  position: absolute;
  bottom: 0;
}
footer .footerInfo form button:hover {
  opacity: 0.9;
}
@media (max-width: 460px) {
  footer .footerInfo form button {
    width: 10%;
  }
}
footer p {
  border-top: 1px solid rgba(246, 246, 246, 0.2);
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 860px) {
  h1 {
    padding: 20px 0;
  }
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 1.8px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

header {
  background-image: url("./../assets/blog-1.jpeg");
  background-size: cover;
  height: 80vh;
  background-position: 50% 50%;
}
@media (max-width: 960px) {
  header {
    height: 65vh;
  }
}
@media (max-width: 860px) {
  header {
    height: 50vh;
  }
}
@media (max-width: 860px) {
  header {
    height: 40vh;
  }
}

.blogContainer .blogTitle {
  margin-top: 70px;
}
.blogContainer .blogTitle h2,
.blogContainer .blogTitle p {
  text-align: left;
  padding: 8px 0;
}
.blogContainer .blogTitle h2 {
  border: none;
  font-size: 2rem;
}
.blogContainer .blogInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  margin: 50px 0;
}
@media (max-width: 620px) {
  .blogContainer .blogInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.blogContainer .blogInfoContainer .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogContainer .blogInfoContainer .author img {
  border-radius: 50%;
  padding-right: 20px;
}
.blogContainer .blogInfoContainer .blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 620px) {
  .blogContainer .blogInfoContainer .blogInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
  }
}
@media (max-width: 620px) {
  .blogContainer .blogInfoContainer .blogInfo .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.blogContainer .blogInfoContainer h3,
.blogContainer .blogInfoContainer p {
  text-align: left;
}
@media (max-width: 620px) {
  .blogContainer .blogInfoContainer h3 {
    padding-right: 5px;
  }
}
.blogContainer .blogWriting p {
  text-align: left;
  padding: 10px 0;
}
.blogContainer .blogWriting p:first-of-type {
  font-weight: bold;
}
.blogContainer .blogWriting .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogContainer .blogWriting .socials i {
  padding: 10px;
  font-size: 0.8rem;
}

.relatedPostsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
@media (max-width: 480px) {
  .relatedPostsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.relatedPostsContainer ul li {
  width: calc(100% / 3 - 10px);
}
@media (max-width: 480px) {
  .relatedPostsContainer ul li {
    width: 100%;
  }
  .relatedPostsContainer ul li img {
    margin: 0 auto;
  }
}
.relatedPostsContainer ul li p {
  text-align: left;
  padding-top: 20px;
}
@media (max-width: 480px) {
  .relatedPostsContainer ul li p {
    text-align: center;
    padding: 10px 0 20px 0;
  }
}

.commentsContainer .eachComment {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.commentsContainer .eachComment .imageContainer {
  padding: 0 50px 50px 0;
  width: 10%;
}
@media (max-width: 1080px) {
  .commentsContainer .eachComment .imageContainer {
    padding: 0;
  }
}
@media (max-width: 620px) {
  .commentsContainer .eachComment .imageContainer {
    width: 40%;
  }
}
@media (max-width: 1080px) {
  .commentsContainer .eachComment .imageContainer img {
    width: 100%;
  }
}
.commentsContainer .eachComment .textComment {
  background: #F6F6F6;
  padding: 20px;
  width: 90%;
}
.commentsContainer .eachComment .textComment h3,
.commentsContainer .eachComment .textComment p {
  text-align: left;
  padding: 3px;
}
.commentsContainer .eachComment .textComment:after {
  content: "";
  position: absolute;
  border-top: 8px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid #F6F6F6;
  border-bottom: 8px solid transparent;
  left: 80px;
  bottom: 95px;
}
@media (max-width: 1080px) {
  .commentsContainer .eachComment .textComment:after {
    visibility: hidden;
  }
}

.contactContainer {
  margin-bottom: 120px;
}
@media (max-width: 620px) {
  .contactContainer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contactContainer form input[type=text],
.contactContainer form input[type=email],
.contactContainer form textarea {
  border: transparent;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.contactContainer form input[type=text],
.contactContainer form input[type=email] {
  width: calc(100% / 3 - 18px);
  padding: 10px;
  margin-top: 50px;
}
@media (max-width: 620px) {
  .contactContainer form input[type=text],
.contactContainer form input[type=email] {
    width: 100%;
    margin: 10px 0;
  }
}
.contactContainer form input[type=text]:hover, .contactContainer form input[type=text]:active, .contactContainer form input[type=text]:focus,
.contactContainer form input[type=email]:hover,
.contactContainer form input[type=email]:active,
.contactContainer form input[type=email]:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
.contactContainer form input[type=email] {
  margin: 0 20px;
}
@media (max-width: 620px) {
  .contactContainer form input[type=email] {
    margin: 0;
  }
}
.contactContainer form textarea {
  display: block;
  width: 100%;
  margin: 40px 0 50px 0;
}
.contactContainer form textarea:hover, .contactContainer form textarea:active, .contactContainer form textarea:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
@media (max-width: 620px) {
  .contactContainer form textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
.contactContainer form button {
  border: transparent;
  background: transparent;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #333;
}
.contactContainer form button:hover {
  font-weight: 700;
}
@media (max-width: 620px) {
  .contactContainer form button {
    width: 100%;
    margin: 20px 0;
  }
}