html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

h1 {
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-align: center;
}

a {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #333;
}

p,
input[placeholder],
textarea[placeholder] {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

input[placeholder],
textarea[placeholder] {
  text-align: left;
}

h3 {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

button {
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
}

header {
  padding-left: 150px;
  padding-right: 150px;
}

.headerNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerNav ul li {
  position: relative;
  padding: 20px;
}
@media (max-width: 1080px) {
  .headerNav ul li {
    padding: 10px;
  }
}
@media (max-width: 970px) {
  .headerNav ul li {
    visibility: hidden;
  }
}
.headerNav ul li a {
  text-decoration: none;
  position: relative;
}
.headerNav ul li i {
  font-size: 1rem;
}
.headerNav ul li .fa-shopping-bag::after {
  content: "2";
  background: #C3DAB7;
  border-radius: 50%;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  top: 50%;
  left: 50%;
  padding: 4px 5px;
}
.headerNav .leftNav li:first-of-type a {
  text-decoration: line-through;
}

h1 {
  padding: 30px;
  width: calc(100% /3);
}
@media (max-width: 1080px) {
  h1 {
    padding: 50px 0;
  }
}
@media (max-width: 970px) {
  h1 {
    position: absolute;
    margin-top: 120px;
    font-size: 3rem;
    left: 70px;
  }
}

nav {
  width: calc(100% / 4);
}
nav:first-of-type {
  width: calc(100% / 3);
}
nav .fa-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  visibility: hidden;
}
@media (max-width: 970px) {
  nav .fa-bars {
    visibility: visible;
    top: 10px;
  }
}

footer {
  background-color: #333;
  color: #F6F6F6;
}
footer .footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 50px;
}
@media (max-width: 1000px) {
  footer .footerInfo {
    padding: 0;
  }
}
@media (max-width: 960px) {
  footer .footerInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footerInfo div {
  padding: 40px;
}
@media (max-width: 960px) {
  footer .footerInfo div {
    padding: 20px;
  }
}
footer .footerInfo div:first-of-type h3 {
  text-align: left;
}
@media (max-width: 960px) {
  footer .footerInfo div:first-of-type h3 {
    text-align: center;
  }
}
footer .footerInfo div h3 {
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  footer .footerInfo div h3 {
    padding-bottom: 10px;
  }
}
footer .footerInfo .socialIcons {
  padding: 20px 0 0 0;
}
footer .footerInfo .socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
@media (max-width: 960px) {
  footer .footerInfo .socialIcons ul {
    width: 15%;
    margin: 0 auto;
  }
}
footer .footerInfo .posts li {
  list-style-type: disc;
}
footer .footerInfo li {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 960px) {
  footer .footerInfo li {
    text-align: center;
  }
}
footer .footerInfo form {
  position: relative;
}
@media (max-width: 960px) {
  footer .footerInfo form {
    text-align: center;
  }
}
footer .footerInfo form input[placeholder="Enter your email"] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  padding: 10px 12px;
  margin-top: 30px;
  margin-left: 20px;
  border: transparent;
}
@media (max-width: 960px) {
  footer .footerInfo form input[placeholder="Enter your email"] {
    margin: 5px 0 0 0;
  }
}
footer .footerInfo form input[type=email]:hover, footer .footerInfo form input[type=email]:active, footer .footerInfo form input[type=email]:focus {
  outline: none;
}
footer .footerInfo form label[for=email] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  display: block;
}
footer .footerInfo form button {
  border: transparent;
  padding: 10px 12px 10px 12px;
  background: #C3DAB7;
  position: absolute;
  bottom: 0;
}
footer p {
  border-top: 1px solid rgba(246, 246, 246, 0.2);
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

header {
  padding: 0;
}
header .headerContainer {
  position: relative;
}
header .headerContainer .headerNav {
  padding: 0 150px;
}
header .headerContainer h2 {
  position: absolute;
  top: 180px;
  left: 0;
  font-size: 2rem;
  letter-spacing: 0.9;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  padding-left: 150px;
}
@media (max-width: 970px) {
  header .headerContainer h2 {
    padding-left: 20px;
  }
}
header .headerContainer h2::before {
  content: "";
  border-top: 2px solid black;
  width: 25px;
  top: -10px;
  position: absolute;
}
@media (max-width: 970px) {
  header .headerContainer .headerImage img {
    opacity: 0.2;
  }
}

.contactContainer {
  padding: 50px 150px;
}
@media (max-width: 970px) {
  .contactContainer {
    padding: 100px 20px 20px 20px;
  }
}
@media (max-width: 760px) {
  .contactContainer {
    padding-top: 150px;
  }
}
.contactContainer h3 {
  font-weight: 700;
  padding-bottom: 20px;
}
.contactContainer h3,
.contactContainer p {
  text-align: left;
}
@media (max-width: 760px) {
  .contactContainer h3,
.contactContainer p {
    text-align: center;
  }
}
.contactContainer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
@media (max-width: 760px) {
  .contactContainer .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
}
.contactContainer .contactInfo div {
  padding: 40px;
}
@media (max-width: 760px) {
  .contactContainer .contactInfo div {
    padding: 20px 0;
  }
}
.contactContainer .contactInfo div i {
  font-size: 1.7rem;
  padding-bottom: 20px;
}
@media (max-width: 760px) {
  .contactContainer .contactInfo div i {
    text-align: center;
    display: block;
  }
}
.contactContainer .contactInfo .address {
  border-left: 1px solid rgba(51, 51, 51, 0.2);
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
@media (max-width: 760px) {
  .contactContainer .contactInfo .address {
    border: none;
  }
}

.contactForm {
  margin-bottom: 120px;
  padding: 0 170px;
}
@media (max-width: 970px) {
  .contactForm {
    padding: 50px;
  }
}
@media (max-width: 760px) {
  .contactForm {
    padding: 0;
  }
}
.contactForm h3 {
  font-weight: 700;
  padding-bottom: 15px;
}
@media (max-width: 760px) {
  .contactForm p {
    padding-bottom: 20px;
  }
}
.contactForm h3,
.contactForm p {
  text-align: left;
}
@media (max-width: 760px) {
  .contactForm h3,
.contactForm p {
    margin: 0 10px;
  }
}
@media (max-width: 760px) {
  .contactForm form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contactForm form input[type=text],
.contactForm form input[type=email],
.contactForm form textarea {
  border: transparent;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.contactForm form input[type=text],
.contactForm form input[type=email] {
  width: calc(100% / 3 - 18px);
  padding: 10px 10px 10px 0;
  margin-top: 70px;
}
@media (max-width: 760px) {
  .contactForm form input[type=text],
.contactForm form input[type=email] {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
.contactForm form input[type=text]:hover, .contactForm form input[type=text]:active, .contactForm form input[type=text]:focus,
.contactForm form input[type=email]:hover,
.contactForm form input[type=email]:active,
.contactForm form input[type=email]:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
.contactForm form input[type=email] {
  margin: 0 20px;
}
@media (max-width: 760px) {
  .contactForm form input[type=email] {
    margin: 0 10px;
  }
}
.contactForm form textarea {
  display: block;
  width: 100%;
  margin: 40px 0 50px 0;
}
.contactForm form textarea:hover, .contactForm form textarea:active, .contactForm form textarea:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
@media (max-width: 760px) {
  .contactForm form textarea {
    width: calc(100% - 20px);
    margin: 10px 10px 20px 10px;
  }
}
.contactForm form button {
  border: transparent;
  background: transparent;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #333;
}
.contactForm form button:hover {
  font-weight: 700;
}
@media (max-width: 760px) {
  .contactForm form button {
    width: calc(100% - 20px);
    margin: 10px;
  }
}